<!--头部-->
<header class="list_search">
    <span></span><span></span>
</header>
<!--列表区-->
<div id="list_wrapper">
    <div id="list_scroll">
        <ul>

        </ul>
    </div>
    <div class="loading">数据加载中…</div>
</div>

<!--底部-->
<footer class="list_footer">
    <ul class="clearfix">
        <li class="tc_line"><span>同程专线</span></li>
        <li class="week_house"><span>周末有房</span></li>
        <li class="order_by"><span>排序</span></li>
        <li class="select"><span>筛选</span></li>
    </ul>
</footer>

<section class="normal_content">
    <ul>
        <li id="list_tc" class="active">同程推荐</li>
        <li id="list_dp_grade">好评优先</li>
        <li id="list_lp">价格最低</li>
        <li id="list_hp">价格最高</li>
    </ul>
</section>
<div class="overlys"></div>