<!--幻灯片-->
<div class="detail_swiper">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/detail/S3LQqq_500x270_00.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/detail/OP6bw6_500x270_00.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/detail/az8Lgv_500x270_00.jpg" alt=""></div>
        </div>
    </div>
    <label>图集</label>
</div>
<!--头部-->
<div class="detail_header">
    <div class="detail_header_box">
        <h2>住天津维多利亚国际大酒店，自选天津之眼-摩天轮（自费）</h2>
        <p><span>￥</span><strong>408</strong>起/份<span>产品编号:101311</span></p>
    </div>
</div>
<!--点评-->
<div class="detail_discuss">
    <label>点评<span>满意度：<strong>100%</strong></span></label><span class="satisfaction"><strong>11</strong>条评论</span>
</div>
<!--点评展示区-->
<div class="discuss_box">
    <h3>青草无边</h3>
    <div class="discuss_text">
        <p>出了地铁口就看的见酒店了，交通还算便利！订的时候是说好可以看夜景的，结果窗外如图4⃣️！房间内设施都比较老旧，卫生间里的木制品都掉漆了！前台的工作人员态度冷漠，人站在她面前说了有预定也不理人！感觉很不好！</p>
        <ul class="clearfix">
            <li><img src="http://pic4.40017.cn/zzy/comment/2016/10/07/13/mx4WLt_150x150_00.jpg" alt=""></li>
            <li><img src="http://pic4.40017.cn/zzy/comment/2016/10/07/13/INT3iD_150x150_00.jpg" alt=""></li>
            <li><img src="http://pic4.40017.cn/zzy/comment/2016/10/07/13/80Jy3l_150x150_00.jpg" alt=""></li>
            <li><img src="http://pic4.40017.cn/zzy/comment/2016/10/07/13/YmQ48a_150x150_00.jpg" alt=""></li>
        </ul>
    </div>
</div>
<!--精选-->
<div class="detail_spc_list">
    <div class="list_header">
        <label>精选</label>
    </div>
    <ul>
        <!--<li>-->
            <!--<h3></h3>-->
            <!--<p><span></span></p>-->
            <!--<div>-->
                <!--<span><em>￥</em><strong></strong>起/份</span>-->
                <!--<a class="order_btn">立即预订</a>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
    <div class="detail_hotel_show">
        <a href="javascript:;">展开套餐</a>
    </div>
</div>
<!--产品详情-->
<div class="detail_product">
    <div class="product_tab">
        <ul class="clearfix">
            <li class="active"><a href="javascript:;">图文详情</a></li>
            <li><a href="javascript:;">交通地图</a></li>
            <li><a href="javascript:;">预订须知</a></li>
        </ul>
    </div>
    <div class="detail_content panel_active">
        <div class="product_info">
            <div>
                <span>天津目的地</span>
                <br>
                <br>
                <span>大美天津等你游^_^</span>
            </div>
            <p class="product_tip">我在天津，你在哪里……世界那么大，我想去看看……</p>
            <a class="product_btn" href="javascript:;">套餐介绍</a>
            <hr class="detail_hr">
            <h2>酒店介绍</h2>
            <h3>天津维多利亚国际大酒店</h3>
            <p><span>酒店位于市中心，距天津海河近在咫尺，酒店与天津古文化街，食品街，意式风情区，名流茶馆，天津之眼摩天轮，海河观光码头等景点相毗邻。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/wHyPD2_640x320_02.jpg">
                <figcaption>天津维多利亚国际大酒店</figcaption>
            </figure>
            <p><span>距离滨海国际机场仅25分钟车程，地理位置优越，交通便利。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/K6mvOH_640x320_02.jpg">
                <figcaption>天津维多利亚国际大酒店</figcaption>
            </figure>
            <p><span>身于23层酒店超高科技建筑中，居高临下视野辽阔。酒店拥有精心设计的各种客房。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/fldfo4_640x320_02.jpg">
                <figcaption>天津维多利亚国际大酒店</figcaption>
            </figure>
            <p><span>设备齐全，舒适温馨，处处显示出个性化需求的服务风范。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/az8Lgv_640x320_02.jpg">
                <figcaption>天津维多利亚国际大酒店</figcaption>
            </figure>
            <p><span>内部装潢则匠心独具地运用了一些名家精心绘制的不同风骨油画等艺术品，既具现代感又富高贵典雅气息，其装饰展现了别样浪漫风情。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/0kz7tx_640x320_02.jpg">
                <figcaption>天津维多利亚国际大酒店</figcaption>
            </figure>
            <h2>景点介绍</h2>
            <h3>天津之眼--摩天轮（自费）</h3>
            <p><span>全称天津永乐桥摩天轮（The Yongle Bridge Tientsin Eye），坐落在天津海河畔，是一座跨河建设、桥轮合一的摩天轮，兼具观光和交通功用。是建在桥上的摩天轮，是天津的地标之一。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/07/29/16/5pavFc_640x320_02.jpg">
                <figcaption>天津之眼--摩天轮（自费）</figcaption>
            </figure>
            <p><span>摩天轮直径为110米，轮外装挂64个360度透明座舱，每个座舱可乘坐8个人，可同时供512个人观光。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/07/29/16/iDZrkl_640x320_02.jpg">
                <figcaption>天津之眼--摩天轮（自费）</figcaption>
            </figure>
            <p><span>摩天轮旋转一周所需时间为30分钟，到达处时，周边景色一览无余，甚至能看到方圆40公里以内的景致，被誉为“天津之眼”。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/07/29/16/OP6bw6_640x320_02.jpg">
                <figcaption>天津之眼--摩天轮（自费）</figcaption>
            </figure>
            <p><span>“天津之眼”摩天轮是一座跨河建设、桥轮合一的摩天轮，是海河开发“一桥一景”的杰出代表作。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/07/29/16/qi5umW_640x320_02.jpg">
                <figcaption>天津之眼--摩天轮（自费）</figcaption>
            </figure>
            <h3>五大道历史文化街区（自费）</h3>
            <p><span>享誉全国的旅游街道，在天津中心市区的南部，东、西向并列着以中国西南名城成都道、重庆道、常德道、大理道、睦南道及马场道为名的六条街道。天津人把它称作“五大道”，又被称为五大道地区。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/yvlhEp_640x320_02.jpg">
                <figcaption>五大道历史文化街区（自费）</figcaption>
            </figure>
            <p><span>具体范围在天津市和平区成都道以南，马场道以北，西康路以东与南京路交口以西长方形地区内的成都道、重庆道、常德道、大理道、睦南道、马场道地区，共有22条马路，总长度为17公里，总面积1.28平方公里。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/eKT5WH_640x320_02.jpg">
                <figcaption>五大道历史文化街区（自费）</figcaption>
            </figure>
            <p><span>五大道拥有上世纪二、三十年代建成的英、法、意、德、西班牙不同国家建筑风格的花园式房屋2000多所，占地面积60多万平方米，总面积100多万平方米。其中风貌建筑和名人名居有300余处，被公认为天津市独具特色的万国建筑博览会。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/EWK3ca_640x320_02.jpg">
                <figcaption>五大道历史文化街区（自费）</figcaption>
            </figure>
            <p><span>多少近现代名人在这里留下了他们的足迹，每幢建筑里都蕴含着故事，充分展现了近代中国百年风云。包括大总统曹锟、徐世昌以及北洋内阁六位总理、爱国人士张学铭、起义将领高树勋、20年代短跑世界冠军李爱锐、美国31届总统胡佛、国务卿马歇尔等上百位中外名人曾居住于此。。</span></p>
            <figure>
                <img class="lazy" alt="" data-original="http://pic3.40017.cn/zzy/rimage/2015/09/23/16/S3LQqq_640x320_02.jpg">
                <figcaption>五大道历史文化街区（自费）</figcaption>
            </figure>
        </div>
        <br>
    </div>
    <div class="detail_content">
        <div class="map_list">
            <ul>
                <!--<li class="hotel">-->
                    <!--<h3>-->
                        <!--<p></p>-->
                    <!--</h3>-->
                <!--</li>-->
            </ul>
        </div>
        <div id="map_content">
            <div id="allmap"></div>
        </div>
    </div>
    <div class="detail_content">
        <div class="order_discount">
            <div class="item_yuding">
                <h3>预订说明</h3>
                <div>
                    <p>本产品由同程国旅或其关联公司旅行社及具有资质的合作旅行社提供相关服务。</p>
                    <p>友情提示：旅游旺季与国家法定节假日出游高峰时段客房相对紧张，为确保您的顺利入住，同程网建议您尽量提前5天预订！</p>
                </div>
            </div>
            <div class="item_tips">
                <h3>友情提示</h3>
                <div>
                    <p><strong>该线路景点门票需自行到景区购买 </strong></p>
                    <p>① 18岁以下未成年人需要至少一名家长或成年旅客全程陪同。</p>
                    <p>② 为确保旅游顺利出行，防止旅途中发生人身意外伤害事故，病患者、孕妇及行动不便者：如传染性疾病患者、心血管疾病患者、脑血管疾病患者、呼吸系统疾病患者、精神病患者、严重贫血病患者、大中型手术的恢复期病等患者，如存在以上情况，因服务能力所限无法接待。</p>
                    <p>③ 65周岁以上老年人需要至少一名成年旅客全程陪同。</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!--百度地图-->

<script>
    // 创建Map实例
    var map = new BMap.Map("allmap",{minZoom:15,maxZoom:20}); // 创建Map实例,设置地图允许的最小/大级别
    var point = new BMap.Point(117.21052622,39.16884684);
    map.centerAndZoom(point,15);
    map.enableScrollWheelZoom(true);
    var myIcon = new BMap.Icon("images/secneryIco.png",new BMap.Size(26,32)); // 创建自定义图标
    var marker = new BMap.Marker(point,{icon:myIcon});  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中

    var opts = {
        width : 200,     // 信息窗口宽度
        height: 50,     // 信息窗口高度
        title : "天津维多利亚国际大酒店"  // 信息窗口标题
    };
    var infoWindow = new BMap.InfoWindow("", opts);  // 创建信息窗口对象

    map.openInfoWindow(infoWindow,point);
    marker.addEventListener("click", function(){
        map.openInfoWindow(infoWindow,point); //开启信息窗口
    });
</script>