<!--搜索框-->
<header class="search_box">
    <div class="searches clearfix">
        <span class="city_name">全国<i></i></span>
        <span class="go_search">搜一下，带你玩转周边</span>
    </div>
</header>
<!--幻灯片播放-->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="images/slide/P8GUf5.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/slide/mtVtRS.jpg" alt=""></div>
        <div class="swiper-slide"><img src="images/slide/Z3UIBx.jpg" alt=""></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <div class="header_ad"></div>
</div>
<!--频道 -->
<nav class="channel clearfix">
    <a href="#list">
        <img src="images/nav/9sbbgl.png" alt="城市深度游">
        <span>城市深度游</span>
    </a>
    <a href="#list">
        <img src="images/nav/dBqLT3.png" alt="自然风光">
        <span>自然风光</span>
    </a>
    <a href="#list">
        <img src="images/nav/IwIqJr.png" alt="亲子">
        <span>亲子</span>
    </a>
    <a href="#list">
        <img src="images/nav/fRDEwD.png" alt="古镇">
        <span>古镇</span>
    </a>
    <a href="#list">
        <img src="images/nav/nBhp8e.png" alt="主题公园">
        <span>主题公园</span>
    </a>
    <a href="#list">
        <img src="images/nav/7rktHK.png" alt="名胜古迹">
        <span>名胜古迹</span>
    </a>
    <a href="#list">
        <img src="images/nav/pHDt6G.png" alt="游山玩水">
        <span>游山玩水</span>
    </a>
    <a href="javascript:;">
        <img src="images/nav/icon_more.png" alt="更多">
        <span>更多</span>
    </a>
</nav>
<!--卖场-->
<div class="sell_wrap">
    <nav class="sell clearfix">
        <a href="#list">
            <img src="images/xgIZIS.jpg" alt="周边游价到">
        </a>
        <a href="#list">
            <img src="images/jH70tg.jpg" alt="买保险，送大奖">
        </a>
        <a href="#list">
            <img src="images/sNhLXJ.jpg" alt="童游会">
        </a>
    </nav>
</div>
<!--周边精选-->
<div class="selected_wrap clearfix">
    <div class="selected_header"><span>周边精选</span></div>
    <ul>
        <li>
            <a href="javascript:;">
                <img src="images/bwWEgP.jpg" alt=限时特卖">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="images/PAfYfH.jpg" alt=错峰惠游">
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="images/rytw7q.jpg" alt=秋意三清山">
            </a>
        </li>
    </ul>
</div>
<!--热门目的地-->
<div class="hot_destination">
    <div class="selected_header"><span>热门目的地</span></div>
    <ul class="clearfix">
        <li><a href="javascript:;">苏州</a></li>
        <li><a href="javascript:;">上海</a></li>
        <li><a href="javascript:;">北京</a></li>
        <li><a href="javascript:;">广州</a></li>
        <li><a href="javascript:;">成都</a></li>
        <li><a href="javascript:;">厦门</a></li>
        <li><a href="javascript:;">杭州</a></li>
        <li><a href="javascript:;">三亚</a></li>
    </ul>
</div>
<!--新增主题-->
<div class="new_list" id="wrapper">
    <ul>
        <li>
            <a href="#list"><img class="lazy" alt="" data-original="images/tu18dt.jpg"></a>
            <div class="img_txt">
                <h3></h3>
                <h4></h4>
            </div>
        </li>
        <li>
            <a href="#list"><img class="lazy" alt="" data-original="images/prvKaJ.jpg"></a>
            <div class="img_txt">
                <h3></h3>
                <h4></h4>
            </div>
        </li>
        <li>
            <a href="javascript:;"><img class="lazy" alt="" data-original="images/ZsX0jz.jpg"></a>
            <div class="img_txt">
                <h3>周末拒宅 带宝贝去玩耍</h3>
                <h4>欢乐亲子游 带宝贝去这玩</h4>
            </div>
        </li>
        <li>
            <a href="#list"><img class="lazy" alt="" data-original="images/Fh7PO0.jpg"></a>
            <div class="img_txt">
                <h3>清新山水，带你“森”呼吸</h3>
                <h4>远离雾霾，开启清肺之旅</h4>
            </div>
        </li>
        <li>
            <a href="#list"><img class="lazy" alt="" data-original="images/x8p5wN.jpg"></a>
            <div class="img_txt">
                <h3>城市漫游 3天2晚更尽兴</h3>
                <h4>品质享受  自由随心  玩法定制</h4>
            </div>
        </li>
        <li>
            <a href="#list"><img class="lazy" alt="" data-original="images/47Fay9.jpg"></a>
            <div class="img_txt">
                <h3>风情徽州 醉美黄山</h3>
                <h4>日出 云海 雾凇 温泉 一个都不能少</h4>
            </div>
        </li>
        <li>
            <a href="#list"><img  alt="" class="lazy" data-original="images/GE1gwv.jpg"></a>
            <div class="img_txt">
                <h3>灵山祈福 拈花湾畔修禅心</h3>
                <h4>以禅意悠然的方式，感受一草一木</h4>
            </div>
        </li>
    </ul>
</div>